<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prancha de Bodyboard</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="topnav" id="myTopnav">
        <a href="main.html" class="home">Home
            <!-- <img src="../img/shark-icon.png" alt="">-->
        </a>
        <a href="main.html#categorias">Categorias</a>
        <a href="news.html">Noticias</a>
        <a href="cadastro.html">Cadastro</a>
        <a href="contact.html">Contato</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <p class="breadcrumbs"><a href="main.html">Home</a> / <a href="main.html#categorias">Categorias</a> / <a
                    href="produtos-pranchas.html">Pranchas</a> / </p>
        </div>
        <div class="row-produto">
            <div><img src="../img/bodyboard1.jpg"></div>
            <div><img src="../img/bodyboard2.jpg"></div>
        </div>
        <div class="row">
            <h1>Prancha de Bodyboard 500" com leash</h1>
            <p class="price">
                Valor: 500,00
            </p>
            <p>
                Prancha desenvolvida para praticantes intermediários. Conta com leash espiral, dois stringers em fibra
                de vidro para dar estrutura e dinamismo, além da capa lisa no fundo da prancha que garante qualidade de
                deslize e mais resistência para a prancha.

                Se você está começando no bodyboard, saiba que a escolha da prancha deve ser de acordo com seu tamanho.
                O desempenho nas ondas vai depender, além do bodyboarder, da qualidade do material. Há dois tipos de
                pranchas: as com rabetas, normais, indicadas para qualquer tipo de onda e com canaleta que ajuda ao
                atleta na cavada da onda, as pranchas com rabetas normais e retas são mais indicadas para as ondas
                cheias e pequenas. Já para escolher uma prancha para o surf, o atleta deve levar em consideração o
                biotipo e o estilo de onda. Para quem está iniciando, o ideal é uma prancha de dois palmos mais alta que
                sua altura e que possua boa flutuação.
            </p>
            <h3>Detalhes do Modelo Bodyboard 500</h3>
            <ol>
                <li><p>Encaixe ergonômico para antebraço, mãos e punhos.</p> </li>
                <li><p>Dois stringers em fibra de vidro e capa lisa no fundo da prancha.</p></li>      
                <li><p>Leash em espiral incluso.</p></li>
                <li><p>Copinho para leash já instalado na prancha.</p></li>
                <li><p>Canaletas no fundo da prancha para mais velocidade.</p></li>
                <li><p>Melhor troca de bordas.</p></li>
            </ol>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
            <li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
            <li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
            <li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
        </ul>
    </footer>
</body>

</html>