<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
</head>
<body>
    <div class="main-card">
        <div class="left-card">
            <div class="info-card">
                <h1>Alunos</h1>
                <div class="info-lucas">
                    <p>Nome: Lucas Moreira Xavier</p>
                    <p>Matricula: 2017203896</p>
                </div>
                <div class="info-gabriel">
                    <p>Nome: Gabriel Said Torres</p>
                    <p>Matricula: 201720XXXX</p>
                </div>
            </div>
        </div>

        <div class="right-card">
            <h1>Encontre aqui os melhores produtos de petshop para o seu bichinho.
                 Rações, acessórios, medicamentos, tapetes higiênicos e mais!</h1>
            <a href="./contact.html">
                <img src="../img/cat-and-dog-animate.svg" alt="Cat and Dog">
            </a>
        </div>
    </div>
</body>
</html>