<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Shark Store</title>
	<link rel="icon" type="image/x-icon" href="/../img/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<nav class="topnav" id="myTopnav">
		<nav class="topnav" id="myTopnav">
			<a href="main.html" class="home">Home
				<!-- <img src="../img/shark-icon.png" alt="">-->
			</a>
			<a href="main.html#categorias">Categorias</a>
			<a href="news.html">Noticias</a>
			<a href="cadastro.html">Cadastro</a>
			<a href="contact.html">Contato</a>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
		</nav>
	</nav>
	<div class="container">
		<section id="home" class="sessao">
			<div class="conteudo-home">
				<h1 class="titulo-sessao">CAROUSEL OU ALGO INTRODUTÓRIO</h1>
			</div>
		</section>
		<section id="categorias" class="sessao">
			<h1 class="titulo-sessao">PRODUTOS</h1>
			<div class="conteudo-sessao">
				<a href="produtos-equip.html">
					<div>
						<img src="../img/equipamentos.jpg" alt="">
						<h3>Equipamentos</h3>
					</div>
				</a>
				<a href="produtos-pranchas.html">
					<div>
						<img src="../img/pranchas.jpg" alt="">
						<h3>Pranchas</h3>
					</div>
				</a>
				<a href="produtos-roupas.html">
				<div>
					<img src="../img/roupas.jpg" alt="">
					<h3>Roupas</h3>
				</div>
				</a>
			</div>
		</section>
		<section id="noticias" class="sessao">
			<h1 class="titulo-sessao">NOTICIAS</h1>
			<div class="conteudo-home">

			</div>
		</section>
	</div>
	<footer class="footer">
		<ul>
			<li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
			<li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
			<li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
			<li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
		</ul>
	</footer>

</body>

</html>