<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/news.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>Noticias</title>
</head>

<body>
	<nav class="topnav" id="myTopnav">
        <a href="main.html" class="home">Home</a>
        <a href="main.html#categorias">Categorias</a>
        <a href="news.html">Noticias</a>
        <a href="cadastro.html">Cadastro</a>
        <a href="contact.html">Contato</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
	<section style="padding-top: 40px;">
		<h1 style="margin: 20px;">Últimas notícias</h1>
		<div class="main-card">
			<ul>
				<li>
					<img src="https://s2.glbimg.com/hrS63CTQ1vI6EYdPk214dcZjxrU=/0x0:2400x1600/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/w/q/JH1BA8R6K8LydwPx39dw/filipinho-comemora.jpg">
					<div>
						<p>Favorito na África do Sul, líder do ranking perdeu nas oitavas para Yago Dora, o grande destaque brasileiro no masculino. J-Bay honrou a fama de melhor direita do mundo</p>
						<a href="https://ge.globo.com/surfe/blogs/boas-ondas-com-diogo-mourao/post/2022/07/15/robinson-se-aproxima-mas-filipinho-ainda-tem-vantagem-para-manter-a-ponta.ghtml">Link para a notícia completa</a>
					</div>
				</li>
				<li>
					<img src="https://s2.glbimg.com/CcBOXqdqGtmQAMeTgTn4czZpJ3I=/0x0:1200x801/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/V/k/E55GkBRAA51OAAh8PGWA/ethan-ewing-22j-bay-avg4436-alan-van-gysen.jpg">
					<div>
						<p>Brasileiro foi eliminado pelo australiano Ethan Ewing, que se sagrou campeão da na nona etapa da WSL</p>
						<a href="https://ge.globo.com/surfe/noticia/2022/07/15/j-bay-yago-dora-perde-na-semifinal.ghtml">Link para a notícia completa</a>
					</div>
				</li>
				<li>
					<img src="https://s2.glbimg.com/RMGWFZrYk8IgcMiQP6r05FLysEs=/0x0:3415x2277/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/7/f/LL3n7tQKALy6qur6etoA/lucas-chumbo-credito-matheus-couto.jpg">
					<div>
						<p>Nomes como Lucas Chumbo, Lucas Fink e Gabriel Sampaio participaram da segunda janela do Itacoatiara Big Wave 2022, na laje do Shock. Surfistas foram rebocados da água de jet-ski</p>
						<a href="https://ge.globo.com/surfe/noticia/2022/07/31/itacoatiara-tem-domingo-historico-com-ondas-de-ate-3-metros.ghtml">Link para a notícia completa</a>
					</div>
				</li>
				<li>
					<img src="https://s2.glbimg.com/6lZK_5lkiJ6PH2EJ6nUF-Tu4aZs=/0x0:3308x2205/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/m/x/uA7v02Sga8BET8uYDfQQ/mateussena-0612-circuito-bb-bahia-smorigo.jpg">
					<div>
						<p>Competição acontece entre 7 e 13 de agosto. Atleta de 20 anos é líder do ranking profissional brasileiro e venceu a primeira etapa do circuito, em junho.</p>
						<a href="https://ge.globo.com/rn/noticia/2022/07/25/potiguar-mateus-sena-e-convocado-para-defender-o-brasil-nos-jogos-pan-americanos-de-surfe.ghtml">Link para a notícia completa</a>
					</div>
				</li>
				<li>
					<img src="https://s2.glbimg.com/kw1bSMidC0mkQ3DxoN9XXQQ4OGI=/0x0:2400x1603/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/I/n/6fvPV6RYmB308F4ZxlTg/tati.jpg">
					<div>
						<p>Tatiana Weston-Webb vence líder do ranking e vai à final em J-Bay</p>
						<a href="https://ge.globo.com/surfe/noticia/2022/07/15/tatiana-weston-webb-vence-lider-do-ranking-e-vai-a-final-em-j-bay.ghtml">Link para a notícia completa</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<footer class="footer">
        <ul>
            <li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
            <li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
            <li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
            <li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
        </ul>
    </footer>
</body>

</html>