<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prancha Tokoro</title>
    <link rel="icon" type="image/x-icon" href="/../img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="topnav" id="myTopnav">
        <a href="main.html" class="home">Home
            <!-- <img src="../img/shark-icon.png" alt="">-->
        </a>
        <a href="main.html#categorias">Categorias</a>
        <a href="news.html">Noticias</a>
        <a href="cadastro.html">Cadastro</a>
        <a href="contact.html">Contato</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <p class="breadcrumbs"><a href="main.html">Home</a> / <a href="main.html#categorias">Categorias</a> / <a
                    href="produtos-pranchas.html">Pranchas</a> / </p>
        </div>
        <div class="row-produto">
            <div><img src="../img/pranchanormal1.jpg"></div>
            <div><img src="../img/pranchanormal2.jpg"></div>
        </div>
        <div class="row">
            <h1>Prancha Tokoro Surfboards Modelo K3 Tamanho 5'10 volume 28,38 Litros</h1>
            <p class="price">
                Valor: 700,00
            </p>
            <p>
                A Prancha Tokoro K3 é uma prancha muito divertida, dando ao surfista tudo que ele precisa e gosta,
                rapidez e controle. Construída com um pouco mais de rocker que os outros modelo do Tokoro, a K3 é
                poderosíssima no pocket da onda. Ela tem também um concave por toda a prancha, que proporciona um
                excelente surf de borda.
                A K3 é muito popular entre os locais havaianos e os profissionais do circuito mundial da WSL porque
                realmente funciona para um surfe de alta performance.
                Tokoro K3 é uma ótima escolha para pranchinha do dia a dia porque se destaca muito em ondas pequenas e
                medias, e tem um ótimo desempenho em manobras mais progressivas.
                O Outline da K3 começa com um bico mais estreito, trazendo a parte mais larga para trás para ganhar um
                pouco mais de área de contato com a água. Seu Rocker vai do meio da prancha e sai para fora da rabeta, é
                um Rocker relativamente mais acentuado, que permite curvas fechadas na parte crítica da onda. Já o fundo
                tem um single concave que sai do bico da prancha, e vai aprofundando até o meio, se transformando em
                double até a área das quilhas, e em seguida vira flat até a rabeta.
                Essa é a prancha indicada para uqem busca performance em ondas pequenas e médias, evoluindo seu surf no
                limite, e pode ser utilizada desde iniciantes com alguma prática, até surfistas profissionais.
            </p>
            <h3>Material de Construção</h3>
            Fabricadas em EPS e resina Epóxi, o destaque das pranchas Carbon Sling é a ausência da longarina, e os
            detalhes dos reforços de carbono no deck e botton. Com isso, as pranchas têm uma flexibilidade diferente,
            tendo uma impulsão maior na onda, resultando em um surf com resposta mais rápida. A laminação é composta por
            1 camada de tecido de fibra de vidro 6oz no botton + 2 camadas de tecido de fibra no deck, 4oz e 6oz. E a
            resina surpreende à todos com o extremo branco e também pelo baixíssimo amarelamento.
            Além das vantagens do EPS ser mais leve e muito mais resistente, no sistema Carbon Sling, ainda você tem a
            vantagem da prancha ter mais energia, tendo uma performance melhorada em ondas pequenas e mexidas do dia a
            dia.
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
            <li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
            <li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
            <li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
        </ul>
    </footer>
</body>

</html>