<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pranchas</title>
  <link rel="icon" type="image/x-icon" href="/../img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="script.js"></script>
  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="topnav" id="myTopnav">
    <a href="main.html" class="home">Home
      <!-- <img src="../img/shark-icon.png" alt="">-->
    </a>
    <a href="main.html#categorias">Categorias</a>
    <a href="news.html">Noticias</a>
    <a href="cadastro.html">Cadastro</a>
    <a href="contact.html">Contato</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </nav>
  <div class="container">
    <div class="row">
      <p class="breadcrumbs"><a href="main.html">Home</a> / <a href="main.html#categorias">Categorias</a> / </p>
    </div>
    <h1>Pranchas</h1>
    <section class="conteudo-sessao">
      <div class="card">
        <img src="../img/funboard1.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Prancha Croa Funboard</h1>
        <p class="price">$800,00</p>
        <p>Prancha Croa Funboard 7'0 Pro Salt - 56L</p>
        <p><form action="funboard.html">
          <button>Mais informações</button>
      </form></p>
      </div>
      <div class="card">
        <img src="../img/pranchanormal1.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Prancha Tokoro K3 Carbon Sling 5'10 EPS/Epoxi - 28,38L</h1>
        <p class="price">$700,00</p>
        <p>Prancha Tokoro Surfboards Modelo K3 Tamanho 5'10 volume 28,38 Litros</p>
        <p><form action="prancha.html">
          <button>Mais informações</button>
      </form></p>
      </div>
      <div class="card">
        <img src="../img/bodyboard1.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Prancha de Bodyboard 500" com leash</h1>
        <p class="price">$500,00</p>
        <p>Prancha desenvolvida para praticantes intermediários.</p>
        <p><form action="bodyboard.html">
          <button>Mais informações</button>
      </form></p>
      </div>
    </section>
  </div>
  <footer class="footer">
    <ul>
      <li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
      <li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
      <li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
      <li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
    </ul>
  </footer>
</body>

</html>