<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Produtos: Roupas</title>
    <link rel="icon" type="image/x-icon" href="/../img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="topnav" id="myTopnav">
        <a href="main.html" class="home">Home
            <!-- <img src="../img/shark-icon.png" alt="">-->
        </a>
        <a href="main.html#categorias">Categorias</a>
        <a href="news.html">Noticias</a>
        <a href="cadastro.html">Cadastro</a>
        <a href="contact.html">Contato</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <p class="breadcrumbs"><a href="main.html">Home</a> / <a href="main.html#categorias">Categorias</a>  / </p>
        </div> 
        <h1>Roupas</h1>
        <section class="conteudo-sessao">
            <div class="card">
                <img src="../img/roupao1.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Long John Winder Rebel 3/2 mm Vedado </h1>
                <p class="price">$1350,00</p>
                <p>Long John - Roupa de Borracha - Wetsuit - Neoprene Winder Rebel 3/2 mm Vedado</p>
                <p><form action="longjohn.html">
                    <button>Mais informações</button>
                </form></p>
            </div>
            <div class="card">
                <img src="../img/luvas1.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Luva Neoprene 2mm Remada Mormaii - Surf</h1>
                <p class="price">$700,00</p>
                <p>Luva de Neoprene 2 mm Remada - Luva Arrebentação - Luva Surf Mormaii</p>
                <p><form action="luva.html">
                    <button>Mais informações</button>
                </form></p>
            </div>
            <div class="card">
                <img src="../img/short1.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Short John Fundive Wailea 3/2 mm </h1>
                <p class="price">$1200,00</p>
                <p>Short John - Roupa de Borracha - Wetsuit - Neoprene Fun Dive Wailea 3/2 mm</p>
                <p><form action="shorjohn.html">
                    <button>Mais informações</button>
                </form></p>
            </div>
        </section>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
            <li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
            <li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
            <li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
        </ul>
    </footer>
</body>

</html>