<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Short John</title>
    <link rel="icon" type="image/x-icon" href="/../img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="topnav" id="myTopnav">
        <a href="main.html" class="home">Home
            <!-- <img src="../img/shark-icon.png" alt="">-->
        </a>
        <a href="main.html#categorias">Categorias</a>
        <a href="news.html">Noticias</a>
        <a href="cadastro.html">Cadastro</a>
        <a href="contact.html">Contato</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <p class="breadcrumbs"><a href="main.html">Home</a> / <a href="main.html#categorias">Categorias</a> / <a
                    href="produtos-roupas.html">Roupas</a> / </p>
        </div>
        <div class="row-produto">
            <div><img src="../img/short1.jpg"></div>
            <div><img src="../img/short2.jpg"></div>
        </div>
        <div class="row">
            <h1>Short John - Roupa de Borracha - Wetsuit - Neoprene Fun Dive Wailea 3/2 mm</h1>
            <p class="price">
                Valor: 1200,00
            </p>
            <p>
                O Short John Fun Dive Wailea 3 mm é composto por neoprene 3 mm no tronco e pernas, e neoprene 100% strec
                4-way (expande para os 4 lados) na parte dos ombros, braços e axilas, garantindo uma mobilidade mais
                livre. Confortável e com ótima durabilidade, destinado para prática de esportes aquáticos, surf,
                mergulho, pesca, jetski, wakeboard, kite, vela entre outros. O modelo Wailea vem com dois tipos de
                neoprene, na parte de maior necessidade (costelas braços e ombros) utilizamos o neoprene extra flexível
                100% strech 4-way (expande para os 4 lados) de 2 mm, e na parte do tronco e pernas o neoprene flex, um
                pouco menos flexível que o anterior. Conta também com um painel emborrachado na parte da frente e das
                costas, dando mais proteção térmica para os órgãos vitais. A Fun dive veio para ser uma ótima opção com
                um excelente custo x benefício, uma roupa de borracha com preço acessível a todos, com características e
                atributos das melhores roupas que o mercado oferece.
            </p>
            <h3>Sobre a Fun Dive:</h3>
            <p>Uma marca que nasceu com o intúido de trazer roupas de neoprene acessíveis com ótima qualidade e preços
                baixos para todos.
                Criada primeiramente para atender a demanda de roupas de mergulho, logo a fun dive enxergou a grande
                demanda e oportunidade no ramo do surf e se adaptou para atender esse essa lacuna do mercado, criando
                roupas mais flexíveis e mais anatômicas, que possibilitam um surf de alta performance com ótima proteção
                térmica.
            </p>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="https:/www.instagram.com"><img src="../img/instagram.png" alt=""></a></li>
            <li><a href="https:/www.facebook.com"><img src="../img/facebook.png" alt=""></a></li>
            <li><a href="https://www.google.com/maps"><img src="../img/maps.png" alt=""></a></li>
            <li><a href="https://mail.google.com/"><img src="../img/icons8-gmail-48.png" alt=""></a></li>
        </ul>
    </footer>
</body>

</html>